<div ng-controller="seqQuestionFormController" ng-init="init()">
    <div class="ui grid seqFullGrid">
        <div class="one column row">
            <div class="column innerScroll">
                <div>
                    <form name="seqForm">
                        <div class="one column row qHeader">
                            <span>Enter the question</span>
                        </div>
                        <div class="outer-segment">
                            <div class="ui segments inner-segment">
                                <div class="ui segment">
                                    <div class="ui grid">
                                        <div class="twelve wide column">
                                            <div class="form-group segment textBoxDiv questionTextBox">
                                                <textarea class="form-control textboxQ" maxlength="120" placeholder="Enter the question" name="seqQuestion" ng-model="seqFormData.question.text"></textarea>
                                            </div>
                                        </div>
                                        <div class="twelve wide column">
                                            <selected-media-container media-callbacks="callbacks" class="row" formdata="seqFormData.question" media-type='q' media-index=''></selected-media-container>
                                        </div>
                                    </div>
                                </div>
                                <div class="ui secondary right aligned segment custom-sec-segment">
                                    <div class="ui grid">
                                        <div class="one column row segment-column">
                                            <div class="column right floated">
                                                <span class="custom-bottom-label">Add: </span>

                                                <span ng-click="addMedia('q','','image')" class="custom-bottom-segment ui icon" data-tooltip="{{!seqFormData.question.image ? 'Add Image' : 'Edit Image' }}"
                                                    data-inverted="">
                                                    <i class="image large icon"></i>
                                                </span>
                                                <span ng-click="addMedia('q','','audio')" class="custom-bottom-segment ui icon" data-tooltip="{{!seqFormData.question.audio ? 'Add Audio' : 'Edit Audio' }}"
                                                    data-inverted="">
                                                    <i class="music large icon"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="one column row">
                            <span>Add Sequences</span>
                        </div>
                        <div class="outer-segment" ng-repeat="(key, value) in seqFormData.options">
                            <div class="ui segments inner-segment">
                                <div class="ui segment">
                                    <div class="ui grid">
                                        <div class="eleven wide column">
                                            <div class="form-group segment textBoxDiv">
                                                <input type="text" class="form-control textbox" placeholder="Enter answer" ng-model="seqFormData.options[key].text" maxlength="120"
                                                />
                                            </div>
                                        </div>
                                        <div class="one wide column text-len">
                                            <span class="maxLengthText">{{value.text.length}}
                                                <span class="length-divider">/</span>120</span>
                                        </div>
                                        <div class="twelve wide column">
                                            <selected-media-container media-callbacks="callbacks" class="row" formdata="seqFormData.options[key]" media-type='op' media-index='{{key}}'></selected-media-container>
                                        </div>
                                    </div>
                                </div>

                                <div class="ui secondary segment custom-sec-segment">
                                    <div class="ui grid">
                                        <div class="two column row segment-column">
                                            <div class="column left-segment">
                                                <a href="" ng-click="deleteOption(key)" class="deleteText" data-tooltip="Delete Optoin" data-inverted="">
                                                    <i class="trash large icon delete-icon"></i>
                                                </a>
                                            </div>
                                            <div class="column right aligned">
                                                <span class="custom-bottom-label">Add: </span>
                                                <span class="custom-bottom-segment ui icon" data-tooltip="{{!seqFormData.options[key].image ? 'Add Image' : 'Edit Image'}}"
                                                    data-inverted="" ng-click="addMedia('op', key, 'image')">
                                                    <i class="image large icon"></i>
                                                </span>
                                                <span class="custom-bottom-segment ui icon" data-tooltip="{{!seqFormData.options[key].audio ? 'Add Audio' : 'Edit Audio'}}"
                                                    data-inverted="" ng-click="addMedia('op', key, 'audio')">
                                                    <i class="music large icon"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="one column row">
                        <div class="column addAns">
                            <button class="ui primary basic button large" ng-click="addOption()">Add answer</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>